label#foto {

    margin-bottom: 20px;
    border:1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    display: flex;
    height:160px;
    justify-content: center;
    align-items: center;

}

label#foto input{

    display: none;

}

label#foto.has-foto{

    border: 0;
}

label#foto.has-foto img{

    border: 0;
}

label#foto.has-foto img{
    display: none;
}